html {
    background: url(pics/synth_backround.jpg) no-repeat center;
}

html {
    font-size: 10px;
    font-family: "Solway", serif;
    
}
#nav {
    font-size: 20px;
    color: skyblue;
    text-decoration: none;
    display: inline-block;
}

h1 {
    font-size: 70px;
    text-align: center;
    color: rgb(209, 0, 209);
    text-shadow: skyblue;
    

}

h2 {
    text-align: left;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}
body {
    text-align: center;
}

p {
    text-align: left;
    padding: 10px;
    border: solid skyblue;
    color: white;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

img {
    align-self: top;
    padding: auto;
    display: block;
    margin: auto;
}

footer {
    scroll-margin-block-end: 10px;
}
.nav_bar {
    background-color: skyblue;
    border-bottom-width: 3px;
    border-bottom-color: rgb(209, 0, 209);
    border-bottom-style: solid;
    
}

.music {
    display: block;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

.art {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}